@model WebApplicationMVC.Models.UserModel;
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3 class="text-center">Identificate</h3>

<div class="row">
    <div class="col-sm-6 offset-3">
        @if (TempData["alert"] != null)
        {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <h3><strong>@TempData["alert"]</strong></h3>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        }
        <form asp-action="Login" asp-controller="Home">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label for="UserName">Usuario:</label>
                <input type="text" asp-for="UserName" class="form-control" placeholder="Ingresa nombre de usuario" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="Password">Contraseña</label>
                <input type="password" asp-for="Password" class="form-control" placeholder="Ingresa contraseña" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>           
            <button type="submit" class="btn btn-primary w-100">Aceptar</button>
        </form>
    </div>
</div>