@model WebApplicationMVC.Models.PersonModel;
<div class="form-row">
    <form class="pt-3" asp-action="PostPerson" asp-controller="Person">
        @Html.AntiForgeryToken()
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>            
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName" class="form-control">
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="LastName"></label>
                <input asp-for="LastName" class="form-control">
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="RFC"></label>
                <input asp-for="RFC" class="form-control">
                <span asp-validation-for="RFC" class="text-danger"></span>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="BirthDate"></label>
                <input asp-for="BirthDate" class="form-control">
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
        </div>

    </form>
</div>