@model WebApplicationMVC.Models.LoginModel;
<html>
    <head>
        <title>Login</title>
    </head>
    <body>
        <div class="container">
            <div>
                <h2>Login</h2>
                <form class="pt-3" asp-action="PostLogin" method="post" asp-controller="Account">
                    @Html.AntiForgeryToken()
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label asp-for="UserName"></label>
                            <input asp-for="UserName" class="form-control">
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label asp-for="Password"></label>
                            <input asp-for="Password" class="form-control">
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>